<section class="container">
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <form id="contact-me" class="form" [formGroup]="messageForm" (ngSubmit)="onSubmit()">
    <div  class="message_form" *ngIf="messageReponse.message != ''">
      <h4 >{{ messageReponse.message }}</h4>
      <div class="btnClose">
        <app-image  srcImg="/assets/img/Icons/close_alert.svg" [activeFilter]="true" (click)=" Close()" textAlt="cerrar" />
      </div>

    </div>


    <div class="group">
      <div class="input">
        <label for="txt-name">{{ data?.name }}</label>
        <input type="text" formControlName="name" id="txt-name" [placeholder]="data?.name">

        <div *ngIf="messageForm.get('name')?.invalid && (messageForm.get('name')?.dirty || messageForm.get('name')?.touched)" class="error">
          <div *ngIf="messageForm.get('name')?.errors?.['required']">{{ lang === 'en' ? 'Name is required.' : 'El nombre es obligatorio.' }}</div>
          <div *ngIf="messageForm.get('name')?.errors?.['maxlength']">{{ lang === 'en' ? 'Name must be at most 250 characters long.' : 'El nombre debe tener como máximo 250 caracteres.' }}</div>
        </div>

      </div>
      <div class="input">
        <label for="txt-subject">{{ data?.subject }}</label>
        <input type="text" formControlName="subject" id="txt-subject" [placeholder]="data?.subject">
        <div *ngIf="messageForm.get('subject')?.invalid && (messageForm.get('subject')?.dirty || messageForm.get('subject')?.touched)" class="error">
          <div *ngIf="messageForm.get('subject')?.errors?.['required']">{{ lang === 'en' ? 'Subject is required.' : 'El asunto es obligatorio.' }}</div>
          <div *ngIf="messageForm.get('subject')?.errors?.['maxlength']">{{ lang === 'en' ? 'Subject must be at most 250 characters long.' : 'El asunto debe tener como máximo 250 caracteres.' }}</div>
        </div>
      </div>
    </div>

    <div class="input">
      <label for="txt-email">{{ data?.email }}</label>
      <input type="email" formControlName="email" id="txt-email" [placeholder]="data?.email">
      <div *ngIf="messageForm.get('email')?.invalid && (messageForm.get('email')?.dirty || messageForm.get('email')?.touched)" class="error">
        <div *ngIf="messageForm.get('email')?.errors?.['required']">{{ lang === 'en' ? 'Email is required.' : 'El correo electrónico es obligatorio.' }}</div>
        <div *ngIf="messageForm.get('email')?.errors?.['email']">{{ lang === 'en' ? 'Please enter a valid email address.' : 'Por favor, introduce un correo electrónico válido.' }}</div>
        <div *ngIf="messageForm.get('email')?.errors?.['maxlength']">{{ lang === 'en' ? 'Email must be at most 250 characters long.' : 'El correo electrónico debe tener como máximo 250 caracteres.' }}</div>
      </div>

    </div>

    <div class="input">
      <label for="txt-message">{{ data?.message }}</label>
      <textarea formControlName="message" id="txt-message" [placeholder]="data?.message"></textarea>
      <div *ngIf="messageForm.get('message')?.invalid && (messageForm.get('message')?.dirty || messageForm.get('message')?.touched)" class="error">
        <div *ngIf="messageForm.get('message')?.errors?.['required']">{{ lang === 'en' ? 'Message is required.' : 'El mensaje es obligatorio.' }}</div>
        <div *ngIf="messageForm.get('message')?.errors?.['maxlength']">{{ lang === 'en' ? 'Message must be at most 250 characters long.' : 'El mensaje debe tener como máximo 250 caracteres.' }}</div>
      </div>
    </div>
    <re-captcha
    [siteKey]="'6LeVs-EqAAAAANRiBj457gbudlRyEQ4PjTPIGSPN0'"
    (resolved)="onCaptchaResolved($event)">
  </re-captcha>

    <button class="g-recaptcha btn"  type="submit" [disabled]="!messageForm.valid || !enable" >{{ data?.btn_send }}</button>
  </form>

</section>
