<div class="container">
  <div class="info">

    <div class="text">

      <div class="text__info">
        <p>{{data.hello}}</p>
        <p class="text__name">Juan Diego Mejia Maestre</p>
        <div class="text__flex">{{data.Iam}}
          <h1 class="typed-element"></h1>
        </div>
      </div>

      <div class="social_media">
        <a target="_blank" rel="noopener" href="https://github.com/juandiegows" title="GitHub JuanDiegoWS">
          <app-image [activeFilter]="true" srcImg="/assets/img/Icons/SocialMedia/GitHub.svg" textAlt="Github" />
        </a>
        <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/juandiegows/" title="Linked JuanDiegoWS">
          <app-image [activeFilter]="true" srcImg="/assets/img/Icons/SocialMedia/Linked.svg" textAlt="Linked" />
        </a>
        <a target="_blank" rel="noopener" href="https://www.instagram.com/juandiego.ws/" title="Instagram JuanDiego.WS">
          <app-image [activeFilter]="true" srcImg="/assets/img/Icons/SocialMedia/Instagram.svg" textAlt="Instagram" />
        </a>
        <a target="_blank" rel="noopener" href="https://twitter.com/juandiegows" title="Twitter JuanDiegoWS">
          <app-image [activeFilter]="true" srcImg="/assets/img/Icons/SocialMedia/twitter.svg" textAlt="Twitter" />
        </a>
        <a target="_blank" rel="noopener" href="https://web.facebook.com/juandiego.wsc/" title="YouTube JuanDiegoWS">
          <app-image [activeFilter]="true" srcImg="/assets/img/Icons/SocialMedia/FB.svg" textAlt="FB" />
        </a>
        <a target="_blank" rel="noopener" href="https://www.youtube.com/channel/UCBruvsN18FvqNHSHe7E6WWg"
          title="GitHub JuanDiegoWS">
          <app-image [activeFilter]="true" srcImg="/assets/img/Icons/SocialMedia/YouTube.svg" textAlt="Youtube" />
        </a>
      </div>
      <a target="_blank" href="mailto:mejiamaestrejuandiego@gmail.com" class="email">mejiamaestrejuandiego@gmail.com</a>

    </div>

    <div class="Outstanding">
      <h2 class="title">
        {{data.achievements}}
      </h2>
      <div class="Outstaning_item">
        <div class="image">
          <app-image [activeFilter]="true" srcImg="/assets/img/Icons/Outstanding.svg" [textAlt]="data.achievements" />
        </div>
        <p>{{data.achievements1}}</p>
      </div>
      <div class="Outstaning_item">
        <div class="image">
          <app-image [activeFilter]="true" srcImg="/assets/img/Icons/Outstanding.svg" [textAlt]="data.achievements" />
        </div>
        <p>{{data.achievements2}}</p>
      </div>
      <div class="Outstaning_item">
        <div class="image">
          <app-image [activeFilter]="true" srcImg="/assets/img/Icons/Outstanding.svg" [textAlt]="data.achievements" />
        </div>
        <p>{{data.achievements3}}</p>
      </div>

      <div class="Outstaning_item">
        <div class="image">
          <app-image [activeFilter]="true" srcImg="/assets/img/Icons/Outstanding.svg" [textAlt]="data.achievements" />
        </div>
        <p>{{data.achievements4}}</p>
      </div>



    </div>
  </div>
  <div class="photo_languajes">
    <div class="image_photo">
      <img src="/assets/img/photo/profile.png" alt="mi foto de perfil">
    </div>
    <app-levitate-icon srcImg="/assets/img/Icons/Languaje/js.svg" textAlt="js" class="levitate levitate__1" />
    <app-levitate-icon srcImg="/assets/img/Icons/Languaje/java.svg" textAlt="java" class="levitate levitate__2" />
    <app-levitate-icon srcImg="/assets/img/Icons/Languaje/Csharp.svg" textAlt="C#" class="levitate levitate__3" />
    <app-levitate-icon srcImg="/assets/img/Icons/Languaje/database.svg" textAlt="database"
      class="levitate levitate__4" />
    <app-levitate-icon srcImg="/assets/img/Icons/Languaje/html.svg" textAlt="html" class="levitate levitate__5" />
    <app-levitate-icon srcImg="/assets/img/Icons/Languaje/.net.svg" textAlt=".net" class="levitate levitate__6" />
    <app-levitate-icon srcImg="/assets/img/Icons/Languaje/css.svg" textAlt="css" class="levitate levitate__7" />
    <app-levitate-icon srcImg="/assets/img/Icons/Languaje/android.svg" textAlt="android" textAlt="android"
      class="levitate levitate__8" />
    <app-levitate-icon srcImg="/assets/img/Icons/Languaje/angular.svg" textAlt="angular" class="levitate levitate__9" />
    <app-levitate-icon srcImg="/assets/img/Icons/Languaje/kotlin.svg" textAlt="kotlin" class="levitate levitate__10" />
    <app-levitate-icon srcImg="/assets/img/Icons/Languaje/vue.svg" textAlt="vue.js" class="levitate levitate__11" />
    <app-levitate-icon srcImg="/assets/img/Icons/Languaje/php.svg" textAlt="php" class="levitate levitate__12" />
  </div>
</div>
