.container {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 90vw;
  min-height: 95vh;
  margin: 0 auto;
  position: relative;

  .info {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .text {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .text__info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .text__name {
          color: var(--colorPrimary);
          font-weight: 900;
        }

        font-size: clamp(2.2rem, 3.4vw, 40rem);

        .text__flex {
          display: flex;
          gap: 0.5rem;

          .typed-element {
            -webkit-user-select: none;
            user-select: none;
            color: var(--colorPrimary);
            font-weight: 500;
          }
        }
      }
    }
  }

  .social_media {
    display: flex;
    margin: 1rem 0;
    gap: 2vw;

    a {
      width: auto;
      cursor: pointer;
    }
  }

  .Outstanding {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .title {
      color: var(--colorPrimary);
      font-weight: 500;
      font-size: 7vw;
      margin-bottom: 1rem;
    }

    .Outstaning_item {
      display: grid;
      grid-template-columns: 10% 85%;
      gap: 2rem;
      align-items: center;
      font-size: 5vw;

      .image {
        width: 4rem;

      }
    }
  }

  .email {
    color: var(--colorPrimary);
    font-size: clamp(1.8rem, 2vw, 30rem);

  }

  .btn {
    margin: 1rem 1rem 0 0;
    width: 90vw;
    padding: 2vw;
    cursor: pointer;
    color: var(--background);
    font-size: clamp(2rem, 1vw, 30rem);
    text-align: center;
    border-radius: 0.5vw;
  }

  .photo_languajes {
    width: 100%;
    margin-top: 10rem;
    margin-bottom: 2rem;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
    position: relative;

    .fondo_imagen {
      width: 92vw;
      margin: -1.2vw auto;
      position: absolute;
    }

    .image_photo {
      width: 90vw;
      margin: auto;
      display: flex;
      justify-content: center;

      .profile {
        z-index: 100;
      }

      img {
        z-index: 2;
        width: 100%;
        height: auto;
      }
    }

    .levitate {
      position: absolute;
      width: clamp(2rem, 4vw, 4rem);
      height: auto;
    }

    .levitate__1 {
      bottom: 40%;
    }

    .levitate__2 {
      left: 10%;
      bottom: 50%;
    }

    .levitate__3 {
      left: 30%;
      bottom: 70%;
    }

    .levitate__4 {
      left: 15%;
      bottom: 75%;
    }

    .levitate__5 {
      left: 35%;
      bottom: 90%;
    }

    .levitate__6 {
      left: 55%;
      bottom: 105%;
    }

    .levitate__7 {
      left: 72%;
      bottom: 90%;
    }

    .levitate__8 {
      left: 80%;
      bottom: 70%;
    }

    .levitate__9 {
      left: 68%;
      bottom: 60%;
    }

    .levitate__10 {
      left: 88%;
      bottom: 60%;
    }

    .levitate__11 {
      left: 80%;
      bottom: 55%;
    }

    .levitate__12 {
      left: 90%;
      bottom: 35%;
    }
  }
}

@media (min-width: 700px) {
  .container {
    gap: 1vw;

    .info {
      gap: 1vw;
      min-height: 0vh;

      .text {
        gap: 1vw;

        .text__info {
          gap: 0.5vw;

          .text__flex {
            gap: 1vw;
          }
        }


      }

      .social_media {
        margin: 1vw 0;

        a {
          width: 3vw;
          height: 3vw;
          cursor: pointer;
        }
      }

      .Outstanding {
        gap: 0.5vw;

        .title {
          font-size: 2.2vw;
          margin-bottom: 1vw;
        }

        .Outstaning_item {
          margin: 0;
          display: flex;
          gap: 1vw;
          font-size: 1.8vw;

          .image {
            width: 3vw;
          }
        }
      }
    }

    .photo_languajes {

      .fondo_imagen {
        display: none;
      }


    }

    .btn {
      width: 25vw;
      padding: 0.5vw;
      font-size: 1.7vw;
      margin: 0.8vw 0;
    }
  }
}

@media (min-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: 60% 40%;
    position: relative;

    .photo_languajes {
      width: 100%;
      position: relative;

      .image_photo {
        position: absolute;
        width: 100%;
        object-fit: scale-down;
        bottom: 0;

        .fondo_imagen {
          display: initial;
          margin-top: 0;
          width: 100%;
          transform: translateY(-1.2%);
          object-fit: scale-down;
        }

        .profile {
          width: 98%;
          margin: 0;
          padding: 0;
          z-index: 100;
          object-fit: scale-down;
        }
      }

      .levitate {
        display: initial;
      }
    }
  }
}
