<header class="container__header">

  <div class="header__left">

    <div class="logo">
      <div class="image">
        <app-image [activeFilter]="true" srcImg="/assets/img/Icons/logo.svg" textAlt="logo JD" />
      </div>
      <p class="title">JuanDiegoWS </p>
    </div>

    <div class="flags">

      <div class="flag" (click)='changesLang(langPage.en)' [class.flag-active]="lang == langPage.en">
        <div class="image">
          <app-image srcImg="/assets/img/Icons/Englishflag.svg" textAlt="logo JD" />
        </div>
        <div class="line"></div>
      </div>


      <div class="flag" [class.flag-active]="lang == langPage.es" (click)='changesLang(langPage.es)'>
        <div class="image">
          <app-image srcImg="/assets/img/Icons/Spanishflag.svg" textAlt="logo JD" />
        </div>
        <div class="line"></div>
      </div>

    </div>

  </div>


  <div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>


  <nav class="navigation">
    <a href="">{{data.home}}</a>
    <a href="">{{data.about_me}}</a>
    <a href="">{{data.services}}</a>
    <a href="">{{data.skills}}</a>
    <a href="">{{data.projects}}</a>
    <a href="">{{data.blog}}</a>
    <app-pallette />
    <app-mode-dark-light/>
    <button class="btn"  [ngClass]="{'btn-dark':darkMode, 'btn-light':!darkMode}">{{data.contact_me}}</button>
  </nav>
</header>
<br>
