<header class="container__header">

  <div class="header__left">

    <div class="logo">
      <div class="image">
        <app-image srcImg="/assets/img/Icons/logo.svg" textAlt="logo JD" />
      </div>
      <p class="title">JuanDiegoWS</p>
    </div>

    <div class="flags">

      <div class="flag">
        <div class="image">
          <app-image srcImg="/assets/img/Icons/Englishflag.svg" textAlt="logo JD" />
        </div>
        <div class="line"></div>
      </div>


      <div class="flag  flag-active">
        <div class="image">
          <app-image srcImg="/assets/img/Icons/Spanishflag.svg" textAlt="logo JD" />
        </div>
        <div class="line"></div>
      </div>

    </div>

  </div>


  <div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>


  <nav class="navigation">
    <a href="">Inicio</a>
    <a href="">Sobre mi</a>
    <a href="">Servicios</a>
    <a href="">Habilidades</a>
    <a href="">Proyectos</a>
    <a href="">Blog</a>
    <div class="image">
      <app-image srcImg="assets/img/Icons/pallette.svg"></app-image>
    </div>
  </nav>
</header>
