<header class="container__header">

  <div class="header__left">

    <div class="logo">
      <div class="image">
        <app-image [activeFilter]="true" srcImg="/assets/img/Icons/logo.svg" textAlt="logo JD" />
      </div>
      <p class="title_header">JuanDiegoWS </p>
    </div>

    <div class="flags">

      <div class="flag" (click)='changesLang(langPage.en)' [class.flag-active]="lang == langPage.en">
        <div class="image">
          <app-image srcImg="/assets/img/Icons/Englishflag.svg" textAlt="logo JD" />
        </div>
        <div class="line"></div>
      </div>


      <div class="flag" [class.flag-active]="lang == langPage.es" (click)='changesLang(langPage.es)'>
        <div class="image">
          <app-image srcImg="/assets/img/Icons/Spanishflag.svg" textAlt="logo JD" />
        </div>
        <div class="line"></div>
      </div>

    </div>

  </div>


  <div class="hamburger" (click)="expanded = !expanded" [ngClass]="{'hamburger_active': expanded}">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>


  <nav class="navigation" [ngClass]="{'navigation_active':expanded}">
    <!-- <a data-url="/search" href="/search" >{{ data.search }}</a> -->
    <a data-url="/home" href="javascript:void(0);" (click)="toGo('home')">{{ data.home }}</a>
    <a data-url="/about-me" href="javascript:void(0);" (click)="toGo('about-me')">{{ data.about_me }}</a>
    <a href="javascript:void(0);" data-url="/services" (click)="toGo('services')">{{ data.services }}</a>
    <a href="javascript:void(0);" data-url="/skills" (click)="toGo('skills')">{{ data.skills }}</a>
    <a data-url="/projects" href="javascript:void(0);" (click)="toGo('projects')">{{ data.projects }}</a>
    <a data-url="/blogs" href="javascript:void(0);" (click)="toGo('blogs')">{{ data.blog }}</a>
    <app-pallette />
    <app-mode-dark-light />
    <button class="btn" (click)="toGo('contact-me')" [ngClass]=" {'btn-dark':darkMode, 'btn-light'
      :!darkMode}">{{ data.contact_me }}</button>
  </nav>
</header>
<br>
