<footer class="container">
  <section class="links">
    <h3 class="title">{{ dataFooter?.link_title }}</h3>
    <nav class="list_links">
      <a data-url="/home" href="/home" (click)="toGo($event, 'home')">{{ data.home }}</a>
      <a data-url="/about-me" href="/about-me" (click)="toGo($event, 'about-me')">{{ data.about_me }}</a>
      <a  *ngIf="servicesAvailable" href="/services" data-url="/services" (click)="toGo($event, 'services')">{{ data.services }}</a>
      <a href="/skills" data-url="/skills" (click)="toGo($event, 'skills')">{{ data.skills }}</a>
      <a data-url="/projects" href="/projects" (click)="toGo($event, 'projects')">{{ data.projects }}</a>
      <a data-url="/blogs" href="/blogs" (click)="toGo($event, 'blogs')">{{ data.blog }}</a>
    </nav>
  </section>

  <section class="section_social_media">
    <h3 class="title">{{ dataFooter?.follow_me }}</h3>
    <div class="social_media">
      <a *ngFor="let social of userData.social_medias" target="_blank" rel="noopener" href="{{ social.link }}"
        title="{{ social.social_media.name }} JuanDiegoWS">
        <div class="image__social_media">
          <app-image-optimized [activeFilter]="true" srcImg="{{ social.social_media.url }}"
            textAlt="{{ social.social_media.name }}" />
        </div>
      </a>
    </div>
  </section>

  <section class="info_profile">
    <div class="image_photo">
      <div class="fondo_imagen">
        <app-image [activeFilter]="true" srcImg="/assets/img/photo/profile.png" />
      </div>
      <div class="profile">
        <app-image srcImg="/assets/img/photo/profile.png" />
      </div>
    </div>
    <h4 class="info__text">{{ dataFooter?.text_main }} {{ year }}</h4>
    <p class="text__visit">{{ dataFooter?.text_second }} {{ count }} </p>
  </section>
</footer>
