<footer class="container">
  <section class="links">
    <h3 class="title">{{ dataFooter?.link_title }}</h3>
    <nav class="list_links">
      <a data-url="/home" href="javascript:void(0);" (click)="toGo('home')">{{ data.home }}</a>
      <a data-url="/about-me" href="javascript:void(0);" (click)="toGo('about-me')">{{ data.about_me }}</a>
      <a href="javascript:void(0);" data-url="/services" (click)="toGo('services')">{{ data.services }}</a>
      <a href="javascript:void(0);" data-url="/skills" (click)="toGo('skills')">{{ data.skills }}</a>
      <a data-url="/projects" href="javascript:void(0);" (click)="toGo('projects')">{{ data.projects }}</a>
      <a data-url="/blogs" href="javascript:void(0);" (click)="toGo('blogs')">{{ data.blog }}</a>
    </nav>
  </section>

  <section class="section_social_media">
    <h3 class="title">{{ dataFooter?.follow_me }}</h3>
    <div class="social_media">
      <a *ngFor="let social of userData.social_medias" target="_blank" rel="noopener" href="{{ social.link }}"
        title="{{ social.social_media.name }} JuanDiegoWS">
        <div class="image__social_media">
          <app-image [activeFilter]="true" srcImg="{{ social.social_media.url }}"
            textAlt="{{ social.social_media.name }}" />
        </div>
      </a>
    </div>
  </section>

  <section class="info_profile">
    <div class="image_photo">
      <div class="fondo_imagen">
        <app-image [activeFilter]="true" srcImg="/assets/img/photo/profile.png" />
      </div>
      <div class="profile">
        <app-image srcImg="/assets/img/photo/profile.png" />
      </div>
    </div>
    <h4 class="info__text">{{ dataFooter?.text_main }} {{ year }}</h4>
    <p class="text__visit">{{ dataFooter?.text_second }} {{ count }} </p>
  </section>
</footer>
