.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
  padding: 1rem 5vw;
  .info {
    font-size: clamp(1.8rem, 1.8vw, 2.5rem);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: justify;



  }
  margin-bottom: 4rem;
}
a {
  color: var(--colorPrimary);
}
