.container {
  margin: 1rem 0;
  
  .title {
    margin-top: 1rem;
  }

  .stories {
    display: grid;
    place-content: center;
    margin: auto;
    width: 80%;
    
    video{
      margin: auto;
      width: 80%;
      max-height: 70vw;
    }
  }


}
