<section class="container">
  <h2 class="title text-center">
    {{ data.title }}
  </h2>
  <div class="stories">
    <video src="/assets/video/HV Juan Diego Mejía.mp4" controls></video>
  </div>

  <!-- <div class="timeline">

    <div class="events-wrapper">
      <div class="events">
        <ol class="events__option">
          <li><a href="#0" data-date="01/01/2017" class="selected">Jan 2017</a></li>
          <li><a href="#0" data-date="01/09/2017">Sep 2017</a></li>
          <li><a href="#0" data-date="01/12/2017">Dec 2017</a></li>
          <li><a href="#0" data-date="01/03/2018">Mar 2018</a></li>
          <li><a href="#0" data-date="09/05/2018">June 2018</a></li>
          <li><a href="#0" data-date="01/01/2019">Jan 2019</a></li>
        </ol>

        <span class="filling-line" aria-hidden="true"></span>
      </div> 
    </div>

    <ul class="cd-timeline-navigation">
      <li><a href="#0" class="prev inactive">Prev</a></li>
      <li><a href="#0" class="next">Next</a></li>
    </ul> 

  </div> -->

  <!-- .timeline -->

</section>
<app-timeline></app-timeline>