<div class="container">
  <div class="image" [class.image-active]="index_active ==1" (click)="index_active = 1">
    <div class="card"></div>
    <picture>
      <source media="(max-width: 300px)" srcset="/assets/img/photo/tiny/juan-diego-mejia-worldskills-colombia-corea.webp" />
      <source media="(max-width: 800px)" srcset="/assets/img/photo/small/juan-diego-mejia-worldskills-colombia-corea.webp" />
      <source media="(min-width: 800px)" srcset="/assets/img/photo/juan-diego-mejia-worldskills-colombia-corea.webp" />
      <img 
      src="/assets/img/photo/juan-diego-mejia-worldskills-colombia-corea.webp" 
        alt="Juan Diego Mejía Maestre en WorldSkills Colombia con el competidor de corea del sur, campeón de IT soluciones de software para negocio en Corea del Sur" 
        title="Juan Diego Mejía Maestre, campeón en WorldSkills Colombia, IT soluciones de software para negocio, con el competidor Corea del Sur"
      />
    </picture>
  </div>

  <div class="image " [class.image-active]="index_active ==2" (click)="index_active = 2">
    <div class="card"></div>
    <picture>
      <source media="(max-width: 300px)" srcset="/assets/img/photo/tiny/juan-diego-worldskills-competidor-africa.webp" />
      <source media="(max-width: 800px)" srcset="/assets/img/photo/small/juan-diego-worldskills-competidor-africa.webp" />
      <source media="(min-width: 800px)" srcset="/assets/img/photo/juan-diego-worldskills-competidor-africa.webp" />
      <img 
      src="/assets/img/photo/juan-diego-worldskills-competidor-africa.webp" 
        alt="Juan Diego Mejía Maestre en WorldSkills con el competidor de África" 
        title="Juan Diego Mejía Maestre en WorldSkills con el competidor de África"
      />
    </picture>
  </div>

  <div class="image" [class.image-active]="index_active ==3" (click)="index_active = 3">
    <div class="card"></div>
    <picture>
      <source media="(max-width: 300px)" srcset="/assets/img/photo/tiny/juan-diego-worldskills-grupo.webp" />
      <source media="(max-width: 800px)" srcset="/assets/img/photo/small/juan-diego-worldskills-grupo.webp" />
      <source media="(min-width: 800px)" srcset="/assets/img/photo/juan-diego-worldskills-grupo.webp" />
      <img 
      src="/assets/img/photo/juan-diego-worldskills-grupo.webp" 
        alt="Juan Diego Mejía Maestre en foto grupal con todos los competidores de WorldSkills SE" 
        title="Foto grupal de Juan Diego Mejía Maestre con todos los competidores de WorldSkills"
      />
    </picture>
  </div>

  <div class="image" [class.image-active]="index_active ==4" (click)="index_active = 4">
    <div class="card"></div>
    <picture>
      <source media="(max-width: 300px)" srcset="/assets/img/photo/tiny/juan-diego-worldskills-campeon-guajira.webp" />
      <source media="(max-width: 800px)" srcset="/assets/img/photo/small/juan-diego-worldskills-campeon-guajira.webp" />
      <source media="(min-width: 800px)" srcset="/assets/img/photo/juan-diego-worldskills-campeon-guajira.webp" />
      <img 
      src="/assets/img/photo/juan-diego-worldskills-campeon-guajira.webp" 
        alt="Juan Diego Mejía Maestre campeón en WorldSkills Colombia representando a La Guajira" 
        title="Juan Diego Mejía Maestre, campeón en WorldSkills Colombia, representando a La Guajira"
      />
    </picture>
    
  </div>

  <div class="image " [class.image-active]="index_active ==5" (click)="index_active = 5">
    <div class="card"></div>
    <picture>
      <source media="(max-width: 300px)" srcset="/assets/img/photo/tiny/juan-diego-worldskills-se-alemania-paris.webp" />
      <source media="(max-width: 800px)" srcset="/assets/img/photo/small/juan-diego-worldskills-se-alemania-paris.webp" />
      <source media="(min-width: 800px)" srcset="/assets/img/photo/juan-diego-worldskills-se-alemania-paris.webp" />
      <img 
      src="/assets/img/photo/juan-diego-worldskills-se-alemania-paris.webp" 
        alt="Juan Diego Mejía Maestre en WorldSkills Special Edition SE con competidores de Alemania y París" 
        title="Juan Diego Mejía Maestre en WorldSkills Special Edition SE con competidores de Alemania y París"
      />
    </picture>
    
  </div>

  <div class="image " [class.image-active]="index_active ==6" (click)="index_active = 6">
    <div class="card"></div>
    <picture>
      <source media="(max-width: 300px)" srcset="/assets/img/photo/tiny/juan-diego-worldskills-singapur-china.webp" />
      <source media="(max-width: 800px)" srcset="/assets/img/photo/small/juan-diego-worldskills-singapur-china.webp" />
      <source media="(min-width: 800px)" srcset="/assets/img/photo/juan-diego-worldskills-singapur-china.webp" />
      <img 
      src="/assets/img/photo/juan-diego-worldskills-singapur-china.webp" 
        alt="Juan Diego Mejía Maestre en WorldSkills con competidores de Singapur y China" 
        title="Juan Diego Mejía Maestre en WorldSkills con competidores de Singapur y China"
      />
    </picture>
    
  </div>

  <div class="image" [class.image-active]="index_active ==7" (click)="index_active = 7">
    <div class="card"></div>
    <picture>
      <source media="(max-width: 300px)" srcset="/assets/img/photo/tiny/juan-diego-worldskills-japon.webp" />
      <source media="(max-width: 800px)" srcset="/assets/img/photo/small/juan-diego-worldskills-japon.webp" />
      <source media="(min-width: 800px)" srcset="/assets/img/photo/juan-diego-worldskills-japon.webp" />
      <img 
      src="/assets/img/photo/juan-diego-worldskills-japon.webp" 
        alt="Juan Diego Mejía Maestre en WorldSkills con el competidor de Japón" 
        title="Juan Diego Mejía Maestre en WorldSkills con el competidor de Japón"
      />
    </picture>
    
  </div>
</div>
