<div class="container">
  <div class="image" [class.image-active]="index_active ==1" (click)="index_active = 1">
    <img src="/assets/img/photo/photo_corea.png" alt="photo corea" />
  </div>
  <div class="image"  [class.image-active]="index_active ==2" (click)="index_active = 2">
    <img src="/assets/img/photo/photo_africa.png" alt="photo corea" />
  </div>
  <div class="image"  [class.image-active_2]="index_active ==3" (click)="index_active = 3">
    <img src="/assets/img/photo/photo_all.png" alt="photo corea" />
  </div>
  <div class="image"  [class.image-active]="index_active ==4" (click)="index_active = 4">
    <img src="/assets/img/photo/photo_campeon.jpg" alt="photo corea" />
  </div>
  <div class="image"  [class.image-active]="index_active ==5" (click)="index_active = 5">
    <img src="/assets/img/photo/photo_aleman_paris.png" alt="photo corea" />
  </div>
  <div class="image"  [class.image-active]="index_active ==6" (click)="index_active = 6">
    <img src="/assets/img/photo/photo_singapur_china.png" alt="photo corea" />
  </div>
  <div class="image"  [class.image-active]="index_active ==7" (click)="index_active = 7">
    <img src="/assets/img/photo/photo_taiwan.png" alt="photo corea" />
  </div>
</div>
