/* Definimos la variable --angle para controlar la animación del gradiente */
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.image:hover .card {
  opacity: 1;
}


.image-active .card {
  opacity: 1;
}

/* Pseudoelementos para el borde animado */
.card::after,
.card::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  /* Aumentamos el tamaño para dar espacio al borde */
  height: 100%;
  padding: 4px;
  /* Espacio para el borde */
  background: conic-gradient(from var(--angle), transparent, var(--colorPrimary), transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent);
  z-index: -1;
  /* Detrás de la imagen */
  animation: girar 4s linear infinite;
  /* Animación de rotación */
  border-radius: 2rem;
}
@media (min-width: 700px) {
  .card::after,
  .card::before {
    border-radius: 2vw; /* border-radius para pantallas grandes */
  }
}

/* Difuminado para el pseudoelemento before */
.card::before {
  filter: blur(40px);
  opacity: 0.5;
  /* Transparencia del brillo */
}

/* Animación de rotación */
@keyframes girar {
  0% {
    --angle: 0deg;
  }

  100% {
    --angle: 360deg;
  }
}

/* Estilo base de la tarjeta */
.card {
  position: absolute;
  /* Para posicionar los pseudoelementos */
  padding: 10px;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
}

.container {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow: hidden;

  .image {
    width: 90vw;
    height: 5rem;
    border-radius: 2rem;
    transition: max-height 1s ease-in-out;
    max-width: 60rem;
    max-height: 3rem;
    position: relative;
  }

  .image-active {
    width: 90vw;
    height: auto;
    max-height: 30rem;
    max-width: 60rem;
    border-radius: 2rem;
  }

}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 2rem;
}

@media (min-width: 700px) {
  .container {
    flex-direction: row;
    gap: 1rem;
    height: 80vh;

    .image {
      transition: max-width 1s ease-in-out;
      max-width: 4vw;
      height: 60vh;
      max-height: 80vh;
      border-radius: 2vw;
    }

    .image-active {
      width: auto;
      max-width: 80vw;
      border-radius: 2vw;
    }

  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2vw;
  }
}