.container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
    padding: 1rem 5vw;


    .search {
        width: 95%;
        display: flex;
        background-color: var(--backgroundSecond);
        border: 1px solid var(--colorPrimary);
        padding-right: 5px;

        .icon {
            padding: 5px;
            width: 4rem;
            min-width: 30px;
        }

        .search__input {
            flex: 1;
            font-family: 'Quicksand', sans-serif;
            padding-left: 5px;
            color: var(--color);

            &,
            &:focus,
            &:active {
                outline: none;
                border: none;
                background-color: transparent;

            }

            &:focus,
            &:active {
                color: var(--colorPrimary);
            }


        }

        .search__select {
            font-family: 'Quicksand', sans-serif;
            color: var(--color);
            padding: 0 10px;

            &,
            &:focus,
            &:active {
                outline: none;
                border: none;
                background-color: transparent;
                border-left: 1px solid var(--colorPrimary);

            }

            &:focus,
            &:active {
                color: var(--colorPrimary);
            }

            &>option {
                background-color: var(--backgroundSecond);
            }

          
            &>option:hover, & > option:checked, & > option::selection  {
                background-color:var(--colorPrimary);;
                color: var(--colorD);
                box-shadow: 0 0 10px 100px #000 inset;
            }
        }
    }

}
