<app-header />
<main class="container">
  <div class="search">
    <div class="icon">
      <app-image [activeFilter]="true" srcImg="assets/img/Icons/search.svg" />
    </div>
    <input class="search__input" type="text" placeholder="Search">
    <select title="Seleccionar que desea buscar" class="search__select">
      <option value="1">Todos</option>
      <option value="1">Proyectos</option>
      <option value="1">Articulos</option>
      <option value="1">Experiencias</option>
      <option value="1">Clientes</option>
    </select>
  </div>
</main>


<app-up-buttom />