// Variables de uso global
$transition-speed: 2s ease;
$primary-gap: 3.5rem;
$desktop-gap: 3vw;

$container-padding: 5vw;
$container-margin-top: 3rem;

// Base
.container {
  width: 100%;
  margin: auto;
  padding: 1rem $container-padding;
  margin-top: $container-margin-top;
  box-sizing: border-box;
  .container_skills {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: var(--backgroundDark);
    font-size: 1.4rem;
    .skill_filter{
      width: 3rem;
      cursor: pointer;
      
      &:hover {
        opacity: 0.8;
      }
    }
  }
  // Sección de Skills
  .container__skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      text-align: center;
    }



    .skills {
      margin: 2rem 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: $primary-gap;

      .skill {
        width: clamp(3rem, 2vw, 20rem);
        height: clamp(3rem, 2vw, 20rem);
        cursor: pointer;

        &:hover {
          background-color: var(--backgroundSecond);
          border-radius: 1rem;
          opacity: 0.8;
          padding: 1rem;
        }

        .lang {
          width: 100%;
        }
      }
    }
  }

  // Sección de Educación y Experiencia
  .education_experience {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      text-align: center;
    }

    .options {
      display: grid;
      grid-template-columns: 50% 50%;
      width: 100%;
      border-bottom: 2px solid var(--colorPrimary);
      border-radius: 10px;
      height: clamp(4rem, 5vh, 30rem);
      box-sizing: border-box;
      position: relative;
      margin-top: 1rem;

      .option {
        display: grid;
        place-content: center;
        color: var(--color);
        border-radius: 10px;
        height: 100%;
        cursor: pointer;
        font-weight: 600;
        user-select: none;
        transition: all $transition-speed;

        &:hover {
          color: var(--colorPrimary);
        }
      }

      .option-active {
        color: var(--background);

        &:hover {
          font-weight: 900;
        }
      }

      .option-active_index {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: var(--colorPrimary);
        border-radius: 10px;
        transition: all $transition-speed;
        z-index: -1;
      }

      .option-active_index_2 {
        left: 50%;
      }
    }

    .edu_exp_container {
      margin-top: 2rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .info {
        background-color: var(--backgroundSecond);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1rem 0 0;

        .entity {
          width: 100%;
          overflow: auto;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: var(--backgroundDark);

          &::-webkit-scrollbar-track {
            background-color: var(--backgroundDark);
          }

          .entity__title {
            margin-top: 1rem;
            width: 100%;
            height: 3rem;
            text-align: center;
            position: sticky;
            top: 0;
            font-size: 1.7rem;
            background-color: var(--backgroundDark);
            cursor: pointer;
          }

          .entity__item {
            width: 100%;
            margin-top: 1rem;

            .item {
              display: flex;
              align-items: center;
              padding: 1rem 0;
              height: 3rem;
              cursor: pointer;

              .indicator {
                height: 3rem;
                width: 3px;
                margin-right: 10px;
                border-radius: 10px;
              }

              &:hover {
                background-color: var(--backgroundSecond);

                .indicator {
                  background-color: var(--colorPrimary);
                }
              }
            }

            .item_active {
              background-color: var(--backgroundSecond);

              .indicator {
                background-color: var(--colorPrimary);
              }
            }
          }
        }

        .info__container {
          background-color: var(--backgroundSecond);
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 1rem;

          &::-webkit-scrollbar-track {
            background-color: var(--backgroundSecond);
          }

          .info__title {
            display: flex;
            justify-content: center;
            font-size: 2rem;
            color: var(--colorPrimary);
            font-weight: 900;
            text-align: center;
            margin: 1rem;

            .img_certificate {
              width: 2rem;
              height: auto;
              cursor: pointer;

              &:hover {
                opacity: 0.8;
              }
            }
          }

          .info__desc {
            text-align: justify;
            padding: 1rem;
          }

          .info__tools {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 0.8rem;
            margin-bottom: 1rem;

            .link {
              cursor: pointer;
              font-weight: 600;

              &:hover {
                color: var(--colorPrimary);
              }
            }
          }

          .info_extra {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            .btn_certificate {
              display: flex;
              border-radius: 2vw;
              background-color: var(--colorPrimary);
              color: var(--color);
              padding: 1vw 2vw;
              margin-top: 1vw;
            }
          }
        }
      }

      .container__years {
        width: 100%;
        height: 5rem;
        background-color: var(--backgroundDark);
        display: grid;
        grid-template-columns: 30% 70%;
        place-content: center;
        align-items: center;
        padding-bottom: 0.5rem;

        .years__title {
          font-size: 1.8rem;
          text-align: center;
          cursor: pointer;
        }

        .years {
          display: flex;
          align-items: center;
          height: 5rem;
          overflow-x: auto;
          overflow: hidden;

          &::-webkit-scrollbar {
            height: 8px;
          }

          &::-webkit-scrollbar-track {
            background-color: var(--backgroundDark);
          }

          .year {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            cursor: pointer;
            user-select: none;

            p {
              padding: 1rem;
            }

            .indicator {
              position: absolute;
              bottom: 0;
              width: 100%;
              height: 2px;
              border-radius: 10px;
            }

            &:hover {
              background-color: var(--backgroundSecond);
              color: var(--colorPrimary);

              .indicator {
                background-color: var(--colorPrimary);
              }
            }
          }

          .year_active {
            background-color: var(--backgroundSecond);
            color: var(--colorPrimary);

            .indicator {
              background-color: var(--colorPrimary);
            }
          }
        }
      }

      .container__infoYear {
        width: 100%;
        height: 5rem;
        background-color: var(--backgroundDark);
        display: grid;
        grid-template-columns: 28% 70%;
        place-content: center;
        align-items: center;
        gap: 2vw;
        text-align: center;

        .filter__clear {
          text-align: center;
          margin: auto;
          color: var(--colorPrimary);
          cursor: pointer;
        }

        &>* {
          margin: auto;
        }
      }
    }
  }
}

/* Responsive: Estilos para pantallas grandes */
@media (min-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 1fr;
    gap: 3vw;
    padding: 1vw $container-padding;
    margin: 3vw auto;

    .container__skills {
      .skills {
        margin-top: 3vw;
        gap: $desktop-gap;
        justify-content: flex-start;
        align-items: center;

        .skill {
          width: 4vw;
          height: 4vw;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .education_experience {
      font-size: 1.4vw;

      .options {
        border-bottom: 0.15vw solid var(--colorPrimary);
        border-radius: 0.5vw;

        .option {
          border-radius: 1vw;
          transition: color $transition-speed;
        }

        .option-active_index {
          border-radius: 0.5vw;
        }

        .option-active_index_2 {
          left: 50%;
        }

        .option:hover {
          color: var(--colorPrimary);
        }

        .option-active:hover {
          color: var(--background);
          font-weight: 900;
        }
      }

      .edu_exp_container {
        margin-top: 1vw;

        .info {
          display: grid;
          grid-template-columns: 30% 70%;
          padding: 0;
          max-height: 100%;

          .entity {
            gap: 2vh;
            height: 100%;

            .entity__item {
              overflow-y: auto;
              overflow: hidden;
              max-height: 17vw;

              .item {
                font-size: 1.1vw;
                gap: 4vh;
                padding: 1vw 0;
                height: 5vh;

                .indicator {
                  height: 5vh;
                  width: 0.2vw;
                }
              }
            }

            .entity__title {
              font-size: 1.2vw;
            }
          }

          .info__container {
            overflow-y: auto;
            overflow: hidden;
            padding: 0.5vw;
            padding-bottom: 2vw;
            max-height: 20vw;
            gap: 1vw;

            &::-webkit-scrollbar {
              width: 0.4vw;
            }

            .info__tools {
              gap: 1vw;
            }

            .info__title {
              position: sticky;
              top: -1vw;
              z-index: 100;
              font-size: 1.4vw;
              padding: 1vw 0;
              background-color: var(--backgroundSecond);

              .img_certificate {
                width: 1.5vw;
                height: auto;
                cursor: pointer;

                &:hover {
                  opacity: 0.8;
                }
              }
            }

            .info_extra {
              margin-top: 2vw;

              .btn_certificate {
                padding: 0.5vw 1vw;
              }
            }
          }
        }

        .container__years {
          height: 3vw;
          padding-bottom: 0.5vw;

          .years__title {
            font-size: 1.8vw;
            cursor: pointer;
          }

          .years {
            height: 3vw;

            &::-webkit-scrollbar {
              height: 0.8vw;
            }

            .year {
              padding: 0 0.5vw;
              position: relative;

              .indicator {
                position: absolute;
                left: 0;
                height: 0.2vw;
                border-radius: 1vw;
              }
            }
          }
        }

        .container__infoYear {
          height: 3vw;
        }
      }
    }
  }
}