.container {
  width: 10vh;
  height: 4vh;
  border-radius: 30rem;
  background-color: #3557A0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  padding: 0.7vw;
  p {
    position: absolute;
    font-size:  clamp(1rem, 0.8vw, 40rem);;;
    margin-right: 0;
    font-weight: 900;
    color: white;
    transition: transform 2s ease, margin-left 2s ease;
  }
  .image {
    position: absolute;
    width:  clamp(2.5rem, 1.5vw, 40rem);
    height:  clamp(2.5rem, 1.5vw, 40rem);
    right: 0;
    transition: transform 2s ease, margin-left 2s ease;
  }
}

.container-light {
  background-color: #3c9bff;
  p {
    position: absolute;
    margin-left: 0;
    margin-right: 0.8vw;
    transform: translateX(170%);
  }
  .image {
    position: absolute;
    transform: translateX(-170%);
  }
}
