$time: 3s;
:root {
  --delay-1: random();
  --delay-2: random();
}
.container {
  width: 5rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  position: relative;
  .image {
    --delay-1: random();
    width: clamp(2rem, 3.5vw, 50rem);
    height: clamp(2rem, 3.5vw, 50rem);
    position: absolute;
    top: 0;
    /* Prefijos de proveedores para Firefox , Safari y opera antiguo */
    -moz-animation-name: levitate;
    -moz-animation-duration: $time;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-direction: alternate-reverse;

    -webkit-animation-name: levitate;
    -webkit-animation-duration: $time;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate-reverse;

    -o-animation-name: levitate;
    -o-animation-duration: $time;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: ease-in-out;
    -o-animation-direction: alternate-reverse;

    /* Prefijos de proveedores para Chroome y otros navegadores*/
    animation-name: levitate;
    animation-duration: $time;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
    animation-delay: calc(var(--delay-1) * 5s);
  }
}

@keyframes levitate {
  70%{
    transform: rotate(0);
    filter:  drop-shadow(0 0 0px #4f9) ;

  }
  90%{
    transform: rotate(180deg);

    filter: drop-shadow(0 0 5px #4f9) ;

  }
  100% {
    top: calc(100% - 3rem);
  }
}
@-moz-keyframes levitate {
  100% {
    top: calc(100% - 3rem);
  }
}

@-webkit-keyframes levitate {
  100% {
    top: calc(100% - 3rem);
  }
}

@-o-keyframes levitate {
  100% {
    top: calc(100% - 3rem);
  }
}
