img {
    width: 100%;
    object-fit: fill;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-zoom: none;
  }

  .filter {
    filter: var(--colorPrimaryF);
    transition: var(--myTransition);
  }
