<section class="cd-horizontal-timeline">
    <div class="content">
        <ng-container *ngIf="itemSelect">
            <!-- Si es una imagen -->
            <img *ngIf="isImage(itemSelect.type)" [src]="itemSelect.url_full" alt="{{ itemSelect.title }}" />

            <!-- Si es un video -->
            <video *ngIf="isVideo(itemSelect.type)" [src]="itemSelect.url_full" controls></video>


            <div class="video" *ngIf="isYoutube(itemSelect.type)">
                <iframe [src]="safeUrl"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>


            <p *ngIf="isText(itemSelect.type)">{{ itemSelect.description }}</p>


            <a *ngIf="isWeb(itemSelect.type)" [href]="itemSelect.url_full" target="_blank" class="btn ">Abrir
                contenido</a>
        </ng-container>
    </div>
    <div class="timeline">

        <div class="events-wrapper">

            <div class="shadow-left"></div>


            <div class="events" [ngStyle]="{ width: calculateEventsWidth() }">

                <ol>
                    <li *ngFor="let item of events; let i = index" (click)="selectItem(item.id)"
                        id="event_Item{{ item.id }}">
                        <a [ngClass]="{ 'selected': selected === item.id }"
                            [ngStyle]="{ 'left': (eventsMinDistance * (i + 1)) + 'px' }" [attr.data-id]="item.id"
                            [attr.data-date]="item.date">
                            {{ item.date }}
                        </a>
                    </li>

                </ol>

                <span class="filling-line" aria-hidden="true"></span>
            </div> <!-- .events -->

            <div class="shadow-right"></div>
        </div> <!-- .events-wrapper -->

        <ul class="cd-timeline-navigation">
            <li (click)="prev()"><a id="prev" class="prev  inactive">Prev</a></li>
            <li (click)="next()"><a id="next" class="next">Next</a>
            </li>
        </ul> <!-- .cd-timeline-navigation -->
    </div> <!-- .timeline -->

    <div class="events-content">

        <ol>
            <li *ngFor="let item of events" id="event_{{ item.id }}" [attr.data-date]="item.date">

                <h2>{{ item.title }}</h2>
                <em>{{ item.date }}</em>
                <p>{{ item.description }}</p>
            </li>
        </ol>
    </div> <!-- .events-content -->
</section>