<app-header />
<main class="container">
    <h2 class="title"> {{ data?.title }}</h2>
    <div class="search" *ngIf="false">
        <select title="Seleccionar campo a filtrar" class="search__select">
            <option value="1">Todos</option>
            <option value="1">Proyectos</option>
            <option value="1">Articulos</option>
            <option value="1">Experiencias</option>
            <option value="1">Clientes</option>
        </select>
        <div class="icon">
            <app-image [activeFilter]="true" srcImg="assets/img/Icons/search.svg" />
        </div>
        <input class="search__input" type="text" placeholder="Search">
        <select title="Seleccionar que desea buscar" class="search__select">
            <option value="1">Todos</option>
            <option value="1">Proyectos</option>
            <option value="1">Articulos</option>
            <option value="1">Experiencias</option>
            <option value="1">Clientes</option>
        </select>
    </div>

    <div class="projects">
        <article class="project" *ngFor="let project of projects" (click)="openModal(project)" (keydown)="openModal(project)">
          <div class="project__image">
            <img class="image" [alt]="project.title" [src]="project.front_page.link_700" />
          </div>
          <div class="info__project">
            <h3 class="title__project"> {{ project.title }}</h3>
            <p class="description__project"> {{ project.short_description }}</p>
            <div class="topics">
              <p class="topic" *ngFor="let topic of project.topics"> {{ topic.name|topic }}</p>
            </div>
            <div class="btns" (click)="$event.stopPropagation()">
              <a *ngIf="project.view_link != null" target="_blank" [href]="project.view_link " class="btn"> {{ data?.btn_view }}</a>
              <a *ngIf="project.download_link != null" target="_blank" [href]="project.download_link " class="btn"> {{ data?.btn_git }}</a> 
            </div>
          </div>
        </article>
      </div>
</main>

<app-sliding-modal [isVisible]="isModalVisible" (close)="onModalClose()">
    <main class="modal-content">
        <h2 class="modal__title">{{ projectItem?.title }}</h2>
        <div class="video-container" *ngIf="projectItem?.video_link; else noVideo">
            <iframe class="video" [src]="projectItem?.video_link" title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <ng-template #noVideo>
            <div class="imagen-container">
                <app-image class2="max" *ngIf="projectItem?.front_page?.link_900"
                    [srcImg]="projectItem?.front_page?.link_900 ?? ''" />
            </div>
        </ng-template>
        <div class="btns">
            <a *ngIf="projectItem?.view_link != null" target="_blank" [href]="projectItem?.view_link " class="btn"> {{
                data?.btn_view }}</a>
            <a *ngIf="projectItem?.download_link != null" target="_blank" [href]="projectItem?.download_link "
                class="btn"> {{ data?.btn_git }}</a>
        </div>
        <div class="tools">

        </div>
        <h2 class="modal__subtitle">{{ data?.text_description }}</h2>
        <div *ngIf="projectItem?.description; else nodescription" [innerHTML]="projectItem?.description"></div>
        <ng-template #nodescription>
            <div [innerHTML]="projectItem?.short_description"></div>
        </ng-template>

    </main>

</app-sliding-modal>
<app-footer />
<app-up-buttom />