<section id="blogs" class="container">
  <h2 class="title">{{ data?.title }}</h2>
  <div class="blogs">
    <article class="blog" *ngFor="let blog of blogs">
      <a [href]="blog.link" class="blog__title">
        <app-image class="blog__image" class2="b_image" [srcImg]="blog.url_image" />
      </a>

      <div class="info">
        <div class="date">
          <app-image class="info__image" [activeFilter]="true" srcImg="assets/img/Icons/blog/calendar.svg" />
          <p>{{ convertDate(blog.date) }}</p>
        </div>
        <a [href]="blog.link" class="blog__title">{{ blog.title }}</a>
      </div>
    </article>
  </div>
  <button class="btn">{{ data?.btn_text }}</button>
</section>
