.container {
  margin: auto;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    margin: 4vw 0;
  }

  .btn {
    margin: 1rem 0 0 0;
    width: 90vw;
    padding: 1vw 2vw;
    cursor: pointer;
    color: var(--background);
    font-size: clamp(2rem, 1vw, 30rem);
    text-align: center;
    border-radius: 0.5vw;
  }

  .blogs {
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .blog {
      background-color: var(--backgroundSecond);
      border-radius: 2vw;
      width: 90vw;
      display: flex;
      flex-direction: column;
      gap: 3vw;

      ::ng-deep .blog__image .b_image {
        border-radius: 2vw;
      }

      .blog__image {
        border-radius: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 2vw;

        padding: 3vw 2vw;

        .topics {
          margin-top: 1vw;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          gap: 1vw;
          .link {
            cursor: pointer;
            font-weight: 600;
            color: var(--color);
            &:hover {
              color: var(--colorPrimary);
            }
          }
        }
        .date {
          display: flex;
          gap: 2vw;

          .info__image {
            width: 5vw;
          }
        }
        .blog__title {
          text-decoration: none;
          color: var(--color);
        }
      }
    }
  }
}

@media (min-width: 700px) {
  .container {
    .title {
      margin: 4vw 0;
    }

    .btn {
      width: auto;
      margin: 2vw 0 0 0;
      padding: 0.3vw 2vw;
      font-size: 2vw;
      border-radius: 0.5vw;
    }

    .blogs {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      gap: 1.5vw;
      text-align: justify;
      .blog {
        border-radius: 0.5vw;
        width: 30vw;
        gap: 0.5vw;
        ::ng-deep .blog__image .b_image {
          border-radius: 0.5vw;
        }

        .blog__image {
          border-radius: 5vw;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .info {
          font-size: 1.4vw;
          gap: 1vw;
          padding: 1vw;
          .topics {
            font-size: 1.2vw;
          }
          .date {
            display: flex;
            align-items: center;
            gap: 1vw;
            .info__image {
              width: 2vw;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    .blogs {
      gap: 1vw;

      .blog {
        width: 23vw;

        .info {
          gap: 0.5vw;
        }
      }
    }
  }
}
