<section class="container">

  <h2 class="title">{{data.title}}</h2>

  <div class="clients">

    <article class="client" *ngFor="let client of data.clients">
      <h3 class="client__title">
        {{client.name}}
      </h3>
      <div class="client__image">
        <app-image [srcImg]="client.imgSrc" />
      </div>
      <div class="tags">
        <p class="tag" *ngFor="let tool of client.tools">#{{tool}}</p>
      </div>
      <div class="btns">
        <a [href]="client.url" target="_blank" class="btn">{{data.btnVisit}}</a>
        <a class="btn">{{data.btnDetails}}</a>
      </div>
      <div class="info_extra">
        <p class="count">
          {{client.count}}
          <app-image class="icon" [activeFilter]="true" srcImg="/assets/img/Icons/user.svg" />
        </p>
        <p class="year">
          {{client.year}}
        </p>
      </div>
    </article>

  </div>
</section>