<section class="container">

  <h2 class="title">{{ data.title }}</h2>
  <ng-container *ngIf="clients.length > 0; else emptyState">
    <div class="clients">

      <article class="client" *ngFor="let client of clients">
        <h3 class="client__title">
          {{ client.name }}
        </h3>
        <div class="client__image" [title]="client.name">
          <app-image [srcImg]="client.url_logo" [title]="client.name" [textAlt]="client.name"  />
        </div>
        <div class="tags">
          <p class="tag" *ngFor="let tool of client.topics">{{ tool | topic }}</p>
        </div>
        <div class="btns">
          <a [href]="client.link_site" target="_blank" class="btn">{{ data.btnVisit }}</a>
          <p class="btn">{{ data.btnDetails }}</p>
        </div>
        <div class="info_extra">
          <p class="count">
            {{ client.count_participants }}
            <app-image class="icon" [activeFilter]="true"  title="clic para ver los integrantes" textAlt="user"  srcImg="/assets/img/Icons/user.svg" />
          </p>
          <p class="year">
            {{ client.year }}
          </p>
        </div>
      </article>

    </div>
  </ng-container>

  <ng-template #emptyState>
    <p class="message_error">{{ message }}</p>
  </ng-template>

</section>
