/* You can add global styles to this file, and also import other style files */
@import './variable.scss';
@import url('./reset.scss');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
html {
  font-size: 10px;
}
body {
  background-color: $background;
  color: $DarkColor;
  padding: 0 2rem;
  font-size: 1.6rem;
}
