:root {

  /* modo oscuro */
  --DarkBackgoundColor: #333333;
  --DarkColor: #eaeaea;
  --LightBackgroudColor: #f4f4f4;
  --LightColor: #333333;

  /* colores */
  --BlueColor: #82CFFF;
  --OrangeColor: #FF8A42;
  --Blue2Color: #0572EC;
  --LemonColor: #97cd43;
  --purpleColor: #B38AF5;
  --purpleDarkColor: #ff92f8;
  --GraycColor: #f3f3f3;
  --RedColor: #ff5a51;
  --pinkColor: #ef63e4;
  --greenColor: #0A9F2B;
  --YellowColor: #fcf1c7;
  --Yellow2Color: #ffd42a;
  --DarkSecondBackgoundColor: #434242;
  --LightSecondBackgoundColor: #FFFFFF;
  --Dark2SecondBackgoundColor: #1E1E1E;
  --Light2SecondBackgoundColor: #B9B9B9;

  /* variables */
  --colorPrimary: var(--OrangeColor);
  --colorPrimaryF: brightness(0) saturate(100%) invert(70%) sepia(13%) saturate(7487%) hue-rotate(330deg) brightness(103%) contrast(101%);
  --background: var(--DarkBackgoundColor);
  --backgroundSecond: var(--DarkSecondBackgoundColor);
  --backgroundDark: var(--Dark2SecondBackgoundColor);
  --color: var(--DarkColor);
  --myTransition: background-color 0.5s ease, color 0.5s ease, filter 0.4s ease;

}
