// modo oscuro
$DarkBackgoundColor: #333333;
$DarkColor: #fefefe;

// colores
$BlueColor: #82CFFF;
$OrangeColor : #FF8A42;
$Blue2Color : #0572EC;
$LemonColor : #64FF7D;
$purpleColor : #B38AF5;
$purpleDarkColor : #ff92f8;
$GraycColor : #f3f3f3;
$RedColor : #DC0823;
$pinkColor : #ef63e4;
$greenColor : #0A9F2B;
$Yellow2Color:#ffd42a;



//variables
$colorPrimary: $pinkColor;
$background: $DarkBackgoundColor;
$color: $DarkColor;
