<div class="image" (click)="active = !active" tabIndex="0" (blur)="active = false">
  <app-image [activeFilter]="true" srcImg="assets/img/Icons/pallette.svg" />
  <div class="colors" [class.colors-active]="active">
    <div (click)="changeColor($event)" class="color color-blue"></div>
    <div (click)="changeColor($event)" class="color color-orange"></div>
    <div (click)="changeColor($event)" class="color color-lemon"></div>
    <div (click)="changeColor($event)" class="color color-pink"></div>
    <div (click)="changeColor($event)" class="color color-purple"></div>
    <div (click)="changeColor($event)" class="color color-yellow"></div>
    <div (click)="changeColor($event)" class="color color-blue2"></div>
    <div (click)="changeColor($event)" class="color color-gray"></div>
    <div (click)="changeColor($event)" class="color color-green"></div>
    <div (click)="changeColor($event)" class="color color-red"></div>
    <div (click)="changeColor($event)" class="color color-yellow2"></div>
    <div (click)="changeColor($event)" class="color color-purple2"></div>
  </div>

</div>
