$time: 3s;

.container {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: fixed;
  top: 0%;
  left: 0;
  display: none;
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  .message {
    opacity: 0;
    color: var(--colorPrimary);
  }

  .message_active {
    opacity: 1;
  }

  .alert {
    width: 90%;
    height: auto;
    max-width: 90rem;
    background-color: var(--background);
    border-radius: 10px;
    border: 2px solid var(--colorPrimary);
    display: grid;
    place-items: center;
    grid-template-columns: 33% 66%;
    padding: 2rem;
    position: relative;
    z-index: 101;

    .btnClose {
      position: absolute;
      top: 0rem;
      right: 0rem;
      width: 4rem;
      transform: translate(50%, -50%);
      cursor: pointer;
    }

    .image_anim {
      position: absolute;
      top: 0%;
      left: 0;
      transform: translate(-10%, -50%);
      width: 15rem;
      height: 15rem;
      display: flex;
      justify-content: center;

      z-index: 1000;

      .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      .pc {
        position: absolute;
        top: 0;
        margin: auto;
        width: 80%;
        height: 80%;
        z-index: 2;
      }

      .hand {
        position: absolute;
        bottom: 0;
        margin: auto;
        width: 10rem;
        z-index: 3;
      }

      .hand,
      .code {
        -moz-animation-duration: $time;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: ease-in-out;

        -webkit-animation-duration: $time;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;

        -o-animation-duration: $time;
        -o-animation-iteration-count: infinite;
        -o-animation-timing-function: ease-in-out;

        animation-duration: $time;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
      }

      .hand-left {
        left: -25%;
        -moz-animation-name: Writing_left;
        -webkit-animation-name: Writing_left;
        -o-animation-name: Writing_left;
        animation-name: Writing_left;
      }

      .hand-right {
        right: -15%;

        -moz-animation-name: Writing_right;
        -webkit-animation-name: Writing_right;
        -o-animation-name: Writing_right;
        animation-name: Writing_right;
      }

      .code {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 4;
        -moz-animation-name: code;
        -webkit-animation-name: code;
        -o-animation-name: code;
        animation-name: code;
      }
    }

    .btnClose:hover {
      width: 4.5rem;
    }

    .image {
      width: 100%;
      margin-right: 1rem;
      max-width: 12rem;
      z-index: 2;
    }

    .info {
      width: 100%;
      margin-right: 1rem;

      .text {
        width: 100%;
        height: auto;
        text-align: justify;
        margin-top: 1rem;
      }

      .actions {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        gap: 1rem;

        .btn {
          color: var(--background);
          text-align: center;
          cursor: pointer;
        }
      }
    }
  }
}

.container_active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 480px) {
  .container {
    .alert {
      .image {
        width: 10rem;
        margin-right: 1rem;
      }

      grid-template-columns: 100%;

      .info {
        .actions {
          margin-top: 1rem;
          justify-content: center;
          flex-direction: row;
        }
      }
    }
  }
}

@media (max-width: 410px) {
  .container {
    .alert {
      .image {
        width: 10rem;
        margin-right: 1rem;
      }

      grid-template-columns: 100%;

      .info {
        .actions {
          margin-top: 1rem;
          justify-content: center;
          flex-direction: column;
        }
      }
    }
  }
}

@media (min-width: 700px) {
  .container {

    .alert {


      width: 55vw;
      max-width: 60vw;
      font-size: 1.2vw;
      border-radius: 1vw;

      .image_anim {
        width: 10vw;
        height: 10vw;

        .pc {
          margin-top: 1.8vw;
          margin-left: -2vw;
        }

        .code {
          width: 5vw;

        }

        .hand {
          width: 5vw;
        }
      }


      .image {
        margin-right: 1vw;
        max-width: 12vw;
      }

      .btnClose {
        width: 2.4vw;

        &:hover {
          width: 2.2vw;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 1vw;
        margin: 1vw;

        .actions {
          flex-direction: row;
          gap: 1vw;

          .btn {
            border-radius: 0.2vw;
            padding: 0.5vw 1vw;
          }
        }
      }
    }
  }
}

@media (min-width: 880px) {
  .container {
    .alert {
      .image_anim {
        transform: translate(-50%, -50%);
      }
    }
  }
}

@keyframes Writing_left {
  0% {
    bottom: 0%;
    left: -35%;
  }

  20% {
    bottom: -10%;
    left: -25%;
  }

  40% {
    left: -35%;
  }

  60% {
    left: -25%;
  }

  80% {
    left: -35%;
  }

  100% {
    bottom: 0%;
    left: -35%;
  }
}

@keyframes Writing_right {
  0% {
    bottom: 0%;
    right: -15%;
  }

  40% {
    right: -5%;
  }

  60% {
    right: -5%;
  }

  100% {
    bottom: 0%;
    right: -15%;
  }
}

@keyframes code {
  0% {
    opacity: 0;
    transform: rotate(90deg);
    transform-origin: 0% 100%;
  }

  10% {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: 0% 100%;
  }

  60% {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: 0% 100%;
  }

  70% {
    opacity: 0;
    transform: rotate(90deg);
    transform-origin: 0% 100%;
  }

  100% {
    opacity: 0;
  }
}
